<h1>this is the food route</h1>

{{#each foodList}}

    <p>-----------</p>

    <h1>Breakfast: {{this.breakfast}}</h1>
    <h1>Lunch: {{this.lunch}}</h1>
    <h1>Dinner: {{this.dinner}}</h1>

    <h1>{{#if enjoy}} This was enjoyable {{/if}}</h1>

    <p>-----------</p>

{{/each}}

