<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->
<h1>This is the home route</h1>

{{#each animalList}}
    <h1>Fierceness: {{this.fierceness}}</h1>
    <h3>Animal Type: {{this.animalType}}</h3>

    {{#if pet}}
        This is a pet
    {{/if}}

    {{#if cute}}
        This is a cute animal
    {{/if}}

{{/each}}


